$bodyBg: #ecedf3;
$textColor: #555;
$fontFamily: 'Roboto', sans-serif;

$fontSizeNormal: .9rem;
$fontSizeMedium: 1.5rem;
$fontSizeLarge: 3rem;

$spacing: 20px;
$mobileSpacing: 24px;
$borderRadius: 15px;

$mobile-width: 600px;
$tablet-width: 1300px;

$colorPrimary: #3971df;
$colorPrimaryActive: #2e59b5;
$colorSecondary: #df9623;
$colorSecondaryActive: #ce8822;
