@use 'variables' as *;

.cronometro {

  &__titulo {
    font-size: $fontSizeMedium;
    text-align: center;
    img {
      float: right;
      margin-top: -20px;
      width: 60px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center ;

    .btn i {
      font-size: 1.2rem;
    }
    .btn:not(:last-child) {
      margin-right: 1em;
    }
  }
}